:host{
  display: block;
    height: 100%;
width: 100%;

#info{
  background-color: lighten($color: rgb(33,37,41), $amount: 10);
  border-radius: 14px;

}

li{
  list-style-type: none;
}
  }

  h1,p,h2,h3,span{
    color: white;
  }

  #data{
    font-size: 1.2rem;
  }
