<div class="d-flex flex-column w-100 bg-dark">
  <ng-container *ngIf="movie else alternative">
    <div class="d-flex align-items-stretch justify-content-between p-3">
      <img class="img-fluid h-100" [src]="imgUrl + movie.poster_path"/>
      <div class="d-flex flex-column flex-fill h-100 p-2 mx-2">
        <h1 class="my-3">{{movie.title}}</h1>
        <p class="my-1 mb-5">{{movie.overview}}</p>
        <h2 class="my-2">Media voti   &nbsp;&nbsp; {{movie.vote_average}}</h2>
        <h2 class="my-2">Totale voti   &nbsp;&nbsp;  {{movie.vote_count}}</h2>
        <h2 class="my-2" >Data uscita  &nbsp;&nbsp;  <span id="data">{{format()}}</span> </h2>
        <div class="d-flex my-2">
          <h3>Genere:</h3>
          <ng-container *ngIf="generi.length > 0 else carica">
        <ul  class="p-0 d-flex align-items-center flex-wrap">

          <li *ngFor="let genere of generi; let i = index" class="mx-4">
            <span>{{i+1}}. {{genere.name}}</span>
          </li>
        </ul>
      </ng-container>
      <ng-template #carica >
        <div class="d-flex justify-content-center flex-fill my-4">
        <div class="spinner-grow text-light" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      </ng-template>
      </div>
      </div>
    </div>
  </ng-container>
  <ng-template #alternative>
    <div class="d-flex justify-content-center h-100 align-items-center">
      <span><strong>Errore, non ci sono contenuti...</strong></span>
    </div>
  </ng-template>
</div>
