<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid h-100">


        <div class="h-100 d-flex flex-column justify-content-between align-items-center pb-4" id="navbarNav">
            <ul class="navbar-nav d-flex flex-column align-items-stretch">
              <!--
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                </li>
-->
                <li class="nav-item" *ngIf="user">
                    <a class="nav-link" [routerLink]="['/profile']" routerLinkActive="active">Profilo</a>
                </li>
                <li class="nav-item" *ngIf="user">
                  <a class="nav-link active" [routerLink]="['/movies']" routerLinkActive="active"
                  [routerLinkActiveOptions]="{exact: true}" aria-current="page">Movies</a>
              </li>
              <!--
                <li class="nav-item" *ngIf="!user">
                    <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Accedi</a>
                </li>
                <li class="nav-item" *ngIf="!user">
                    <a class="nav-link" [routerLink]="['/register']" routerLinkActive="active">Iscriviti</a>
                </li>
                -->
            </ul>

            <button type="button" class="btn btn-outline-danger ms-2 float-end bg-light" *ngIf="user" (click)="logout()">Esci</button>
        </div>
    </div>
</nav>
