:host, nav{
  display: block;
    height: 100%;
width: 100%;

.navbar-nav{
    --bs-navbar-hover-color: fuchsia;
}
.btn{
  --bs-btn-hover-color: black;
}
  }

  nav{
    background-color: darkslategrey;
  }

  a{
    color: white;
  }

  .active{
    --bs-navbar-active-color: fuchsia;
  }
