<div id="main" class="container-fluid">
  <div class="row h-100">
    <div class="col-12">
  <ul class="nav nav-tabs bg-dark nav-underline h-100">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Info utente</a>
    </li>
    </ul>
  </div>
  <div class="col-12 bg-dark h-100">
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column align-items-center">
          <h1>{{user?.nome}} {{user?.cognome}}</h1>
          <br>
          <h2>email: {{user?.email}}</h2>
      </div>
    </div>
  </div>
  </div>
</div>
