

h1, h2{
  color: white;
}

.nav{
  border-bottom: none !important;
  background-color: rgb(53,57,61) !important;

}

.nav-item{
  border-bottom: 2px solid fuchsia;
  width: 20%;

.nav-link{
  color: fuchsia;

}
}

:host{
  display: block;
  height: 100%;
}

#main{
  height:100%;
}
